/* Reset Css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
span,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* main Css */

/* grid*/
.grid {
  display: grid;
}

.grid.l-2-10 {
  grid-template-columns: 2fr 10fr;
}

.grid.l-8-4 {
  grid-template-columns: 8fr 4fr;
}

.row {
  display: flex;
  align-items: center;
}

.row.row-between {
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
}

.col.col-between {
  justify-content: space-between;
}

.mt-120 {
  margin-top: 120px;
}
/* module */
.main {
  max-width: 100%;
  background-color: rgb(163, 0, 5);
  font-size: 1.3rem;
  color: #757575;
  transition: 0.4s;
}

.main__banner {
  max-inline-size: 1280px;
  min-block-size: 289px;
  margin: 0 auto;
  position: relative;
}

.banner__nav {
  background-color: #fff;
}

.banner__nav__level1 {
  position: relative;
  block-size: 100%;
  min-inline-size: 216px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

li a {
  padding: 7.5px 8px;
}

.level1__title > i,
.level2__title > i {
  display: none;
}

li a span {
  line-height: 1.5rem;
  max-height: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.banner__nav__level1 .level2,
.level3 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 100%;
  bottom: 0;
  inline-size: 100%;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: none;
}
.banner__img a img {
  block-size: 375px;
}

.banner__post {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.banner__post i {
  font-size: 1rem;
  color: #9999;
  margin-right: 4px;
  cursor: pointer;
}

.banner__nav__level1 li:hover > a {
  background-color: #75757515;
  color: rgba(255, 60, 0, 0.712);
  transition: 0.4s;
}

.banner__nav__level1 li:hover .level2 {
  display: block;
  transition: 0.4s;
}

.banner__nav__level1 li:hover .level1__title > i {
  display: block;
}

.level2 li:hover .level3 {
  display: block;
  transition: 0.4s;
}

.level2 li:hover .level2__title > i {
  display: block;
}

.level3 li a {
  inline-size: 100%;
}

ul {
  padding: 6px 0;
  box-sizing: border-box;
}

.footer__my-name {
  animation: fadeout 10s;
  color: #ccc;
}
/* phuc vu js slide */
@keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fades {
  animation: fadeout 0.4s;
}

.active {
  color: black;
}
